/bootstrap/compiled.php
/vendor
composer.phar
composer.lock

; ignore system files
.env.*.php
.env.php

; ignore ide files
/nbproject/

; ignore custom deployement files
; you have to remove that line in your personnal branch

; production files - on personnal branch (branch in which your theme is)
app/database/production.sqlite
app/config/local/
todo

docs_perso/
.git-ftp-ignore
app/tests/acceptance.suite.yml
workbench/
_ide_helper.php
app/tests/functional/TestGuy.php
app/tests/acceptance/WebGuy.php
app/tests/unit/CodeGuy.php
