/bootstrap/compiled.php
/vendor
composer.phar
composer.lock

; ignore system files
.env.*.php
.env.php

; ignore ide files
/nbproject/

; ignore custom deployement files
; you have to remove that line in your personnal branch

; production files - on personnal branch (branch in which your theme is)
app/database/production.sqlite
app/config/local/
todo

docs_perso/
.git-ftp-ignore
workbench/
_ide_helper.php

; tests
/app/tests/admin/Admin.php
/app/tests/guest/Guest.php
/app/tests/guest_cache/GuestCache.php
/app/tests/guest.suite.yml
/app/tests/guest_cache.suite.yml
/app/tests/admin.suite.yml

