div#header-wrapper,
div#footer-wrapper{
    background:#000;
}
div#header-wrapper h1 { 
padding-top: 0.77em;
}

div#header-wrapper h1 a {
    color:#428bca;
}

div#footer-wrapper footer p  {
    line-height: 3em;
    min-height: 3em;
}

header p, 
footer p  {
    color:#777;
}

div#footer-wrapper { 
    margin-top:1em;
}

/* post */

#post-form h3 {
    text-decoration: underline;
    cursor: pointer;
}