body {
    font-size:1.7em;
    font-family: 'Arimo', sans-serif;
}

div#header-wrapper,
div#footer-wrapper{
    background:#000;
}
div#header-wrapper h1 { 
padding-top: 0.77em;
}

div#footer-wrapper footer p  {
    line-height: 3em;
    min-height: 3em;
}

header p {
    color:#969696;
}

